@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: hsl(var(--dark-blue) / 1);
    color: hsl(var(--color-white) / 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@layer base {
    :root {
        --color-white: 0deg 0% 100%;
        --semi-dark-blue: 223deg 36% 13%;
        --greyish-blue: 223deg 23% 46%;
        --dark-blue: 224deg 30% 9%;
        --color-red: 0deg 97% 63%;
    }
}

.active {
    filter: brightness(50%) invert(100%);
}
